* {
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header {
    background-image: url(img/header-img.png);
    background-size: cover;
    display: inline-block;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 38px;
    padding: 3%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header nav {
    backdrop-filter: blur(4px);
    margin-top: 0%;
    display: inline-block;
    width: 100%;
    padding: 1%;
}

header form {
    float: right;
    width: 15%;
    margin-right: 5%;
}

header input {
    padding: 2%;
    width: 50%;
    border-radius: 15px;
    margin-right: 0%;
    border: 1px solid #9b9b9b;
    float: left;
}

input[type="submit"] {
    background-color: #f3f0e8;
    width: 10%;
    border-radius: 100%;
    padding: 4%;
    float: left;
}
header nav ul{
    margin-left:10%;
    margin-top:0%;
}
header nav ul li {
    float: left;
    width: 10%;
    padding: 1%;
    list-style: none;
    text-align: center;
    border-right: 1px solid #272526;
}

header nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

main {
    width: 90%;
    margin-left: 5%;
    display: inline-block;
}
div {
    margin-left: 6.25%;
    margin-top:4%;
    width: 20%;
    float: left;
    padding: 2.5%;
    padding-bottom:2%;
}
div img{
    margin-top:5%;
    margin-bottom:3%;
    margin-left: 15%;
    width: 70%;
}
main ul{
    display: none;
}
div:hover ul {
    display: block;
    opacity: 1;

}
div:hover {
    padding-top: 2%;
    padding-bottom: 2%;
    transition: padding 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}